doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title Document
    link(rel='stylesheet', href='css/app.css')
  body
    h1 Welcome to Game
    canvas.canvas#main(width='800', height='400') Tu navegador no soporta canvas
    img(src="images/enemigo1.png")#e1.enemigos
    img(src="images/enemigo2.png")#e2.enemigos
    img(src="images/enemigo3.png")#e3.enemigos
    img(src="images/nave.png").enemigos#nave

    script(src='app.js')